@import "../../App.scss";

.swiperConteiner{
    transform: rotateZ(-90deg);
    .mySwiper2{
        width: 25vw;
        .swiperSlide{
            img{
                width: 100%;
                aspect-ratio: 1;
                border-radius: 10px;
                transform: rotateZ(90deg);
            }
        }
    }
    .mySwiper{
        width: 20vw;
        .slide{
           
            img{
                width: 100%;
                aspect-ratio: 1;
                border: 1px solid lightgray;
                border-radius: 10px;
                transform: rotateZ(90deg);
            }
        }
    }   
}