@import "../../App.scss";

.swiperConteiner{
    transform: rotateZ(-90deg);
    .mySwiper2{
        width: 25vw;
        .swiperSlide{
            img{
                width: 100%;
                aspect-ratio: 1;
                border-radius: 10px;
                transform: rotateZ(90deg);
            }
        }
    }
    .mySwiper{
        width: 20vw;
        .slide{
           
            img{
                width: 100%;
                aspect-ratio: 1;
                border: 1px solid lightgray;
                border-radius: 10px;
                transform: rotateZ(90deg);
            }
        }
    }   
}

@media (max-width: 540px) {
    .swiperConteiner{
        transform: rotateZ(0);
        .mySwiper2{
            width: 90vw;
            .swiperSlide{
                img{
                    transform: rotateZ(0);
                }
            }
        }
        .mySwiper{
            width: 90vw;
            .slide{
               
                img{
                    transform: rotateZ(0);
                }
            }
        }   
    }
}