@import "../../App.scss";

.swiperConteiner{
    .mySwiper2{
        width: 30vw;
        .swiperSlide{
            img{
                width: 100%;
                aspect-ratio: 1;
                border-radius: 10px;
            }
        }
    }
    .mySwiper{
        width: 30vw;
        .slide{
           
            img{
                width: 100%;
                aspect-ratio: 1;
                border: 1px solid lightgray;
                border-radius: 10px;
            }
        }
    }   
}