@import "../../App.scss";
.categoriesMain {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 5vh 0;
  max-width: $maxWidth;
  width: 90vw;

  .headers_h {
    width: 100%;
    display: flex;
    align-items: center;
    @include headers_h;
  }

  .slides_for_categorries {
    width: 100%;
    display: flex;

    .slide {
      padding: 20px 0;
      text-align: center;
      font-weight: 600;
      margin: 5vh 0;
      img {
        width: 100%;
        height: 350px;
        border-radius: 15px;
        object-fit: cover;
        margin-bottom: 20px;
      }
    }
  }
}
