@import "../../App.scss";

.contentSection {
  flex: 1.5;
  height: calc(200px * 3 + 2vh* 2);
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  gap: 2vh;

  .cardForCart {
    width: 100%;
    max-width: 900px;
    min-width: 600px;
    max-height: 200px;
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 2%;
    border: 1px solid lightgray;
    border-radius: 15px;
    
    position: relative;

    img {
      height: 90%;
      border: 1px solid lightgray;
      border-radius: 15px;
      margin-left: 2%;
      transition: 0.3s ease-in-out;
    }
    .info {
      text-align: start;
      width: 60%;
      
      .title{
        margin-bottom: 5%;
      }
      .title:hover {
        cursor: pointer;
        color: $green;
      }
      .priceContent {
        display: flex;
        justify-content: start;
        gap: 5%;
        align-items: end;
        
        .counterOfProduct {
          min-width: 200px;
          border-radius: 5px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          border-top: 1px solid lightgrey;
          border-bottom: 1px solid lightgrey;

          .counter {
            font-size: 2rem;
          }

          .btnControl {
            font-size: 1.5rem;
            width: 40px;
            aspect-ratio: 1;
            border-radius: 5px;
            border: none;
            border-right: 1px solid lightgray;
            border-left: 1px solid lightgray;
            background-color: #fff;
            color: $gray;
          }
        }

        .discontPrice {
          font-size: 2rem;
          font-weight: 600;
        }
        .price {
          font-size: 1.5rem;
          font-weight: 500;
          color: $gray;
          text-decoration: line-through;
        }
      }
    }
    .deleteBtn {
        position: absolute;
        left: 95%;
      background: none;
      transform: translateY(-50px);
      width: 30px;
      border: none;
      font-size: 1.5rem;
      cursor: pointer;
      color: $gray;
    }
    .deleteBtn:hover {
      color: #000;
      font-weight: 600;
    }
  }

  .cardForCart:hover {
    img {
      height: 100%;
      margin-left: 0;
      border: 1px solid $green;
    }
  }
}
