.slide {
  text-align: center;
  font-weight: 600;
  img {
    width: 317.5px;
    height: 350px;
    border-radius: 15px;
    object-fit: cover;
    margin-bottom: 20px;
    cursor: pointer;
  }
  p{
    cursor: pointer;
  }
}
