@import "../../App.scss";
main {
  .headers_h {
    width: 100%;
    display: flex;
    align-items: center;
    @include headers_h;
    .line_and_button {
      width: 65%;
      margin-bottom: 20px;
    }
  }

  .content {
    @include width;
    display: flex;
    align-items: start;
    gap: 2vw;
  }

  .clearBasket {
    @include width;
    display: flex;
    flex-direction: column;
    gap: 5vh;
    font-weight: 600;
    margin: 5vh 5vw;
    .continueBtn {
      @include greenBtn;
    }
  }
}

@media (max-width: 540px) {
  main {
    .headers_h {
      h2 {
        font-size: 1.3rem;
      }
      .line_and_button {
        width: 60%;
      }
    }
    .content{
      flex-direction: column;
    }
    .clearBasket{
      p{
        text-align: center;
        max-width: 80vw;
      }
    }
    .continueBtn{
      margin: 0;
    }
  }
}
