.container_sort {
  display: flex;
  justify-content: start;
  gap: 18px;

  .price {
    color: #282828;
    font-size: 20px;
  }
  .from,
  .to {
    border-radius: 6px;
    border: 1px solid #ddd;
    width: 10vw;
    min-width: 112px;
    padding: 8px 16px;
  }
  .from,
  .to{}
}
