.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    max-width: 1440px;
    padding-top: 10px;

    img{
        max-height: 70px;
    }

    .basket{
        border: none;
        background: none;
        cursor: pointer;
        max-width: 48px;
    }
}