$green: #339933;
$textSize: 64px;

@font-face {
    font-family: Monserrat;
    src: url("./assets/fonts/Montserrat-VariableFont_wght.ttf");
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Monserrat;
}

body{
    display: flex;
    
    justify-content: center;
}

